
.myForm {
    width: 450px; 
    margin: 50px auto;
    padding: 30px;
    background-color: #96a2ff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  
  .myForm h1 {
    color: #333; 
    text-align: center;
    margin-bottom: 20px;
  }
  
  .myForm button {
    padding: 12px 20px; 
    margin-top: 15px; 
    width: 30%;
    color: white;
    background-color: #293dca;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left:157px;
    transition-duration: 0.4s;
  }

  .myForm button:hover{
    background-color:#1f2b87;
  }
  
  .input-control {
    margin-bottom: 15px;
    padding: 0px 30px;
  }
  
  .input-control input {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
    font-size: 14px;
    padding: 12px 10px;
    width: 100%;
  }
  
  .input-control input:focus {
    outline: none;
    border-color: #999;
  }
  
  
  .input-control.success input {
    border-color: #2ecc71; 
  }
  
  .input-control.error input {
    border-color: #e74c3c; 
  }
  
  .input-control .error {
    color: #e74c3c;
    font-size: 15px;
    margin-top: 5px; 
  }

  